
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAna.cshtml";
}


<div class="mj_transprentbg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 mj_toppadder80 mj_bottompadder50">
                        <div class="mj_videosection_data mj_toppadder50">
                            <h1>H<span>ow</span> I<span>t</span> W<span>orks</span></h1>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Claritas est etiam processus dynamicus.</p>
                            <a href="#" class="mj_readmore">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="mj_video">
                        <div class="mj_videodiv">
                            <img src="~/Contents/img/applepc1.jpg" alt="work">
                            <div class="mj_overlay">
                                <div class="mj_videooverlay_inner">
                                    <a href="#"><i class="fa fa-play-circle"></i></a>
                                    <p>
                                        Watch now this video about how works mesh<span class="mj_yellow_text">jobs</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <iframe id="video" src="http://player.vimeo.com/video/60707752" width="1200" height="482"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* BOŞLUK *@
@*<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_showmore">
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
            </div>
        </div>
    </div>
</div>*@
<div class="mj_bluebg mj_toppadder80 mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                <div class="mj_addsection">
                    <h2>L<span>orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</span> </h2>
                    <ul>
                        <li>
                            <a href="post_job.html" class="mj_mainbtn mj_btnyellow" data-text="Post a job!"><span>post a job!</span></a>
                        </li>
                        <li>
                            <a href="contact.html" class="mj_mainbtn mj_btndefault" data-text="Contact Now"><span>contact now</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="mj_transprentbg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="mj_videodiv">
                            <img src="~/Contents/img/applepc.jpg" alt="">
                            <div class="mj_overlay">
                                <div class="mj_overlay_inner">
                                    <h1>S<span>ome</span> K<span>ind</span> T<span>he</span> W<span>ords</span> F<span>rom</span> <span class="mj_yellow_text">O<span>ur</span> C<span>lients</span></span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="mj_testimonial_slider">
                            <span class="mj_quote"><img src="~/Contents/img/quote.png" class="img-responsive" alt=""></span>
                            <div class="mj_testimonial_slider_content">
                                <div id="owl-demo" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="mj_testimonial_img">
                                            <img src="~/Contents/img/testimonial1.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="mj_testimonial_data">
                                            <h4>L<span>orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</span></h4>
                                            <h6>Britney Simpson</h6>
                                            <p>Web Designer</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="mj_testimonial_img">
                                            <img src="~/Contents/img/testimonial2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="mj_testimonial_data">
                                            <h4>L<span>orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</span></h4>
                                            <h6>mike tussle</h6>
                                            <p>Web Designer</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="mj_testimonial_img">
                                            <img src="~/Contents/img/testimonial1.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="mj_testimonial_data">
                                            <h4>L<span>orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</span></h4>
                                            <h6>Britney Simpson</h6>
                                            <p>Web Designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


