<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Contents/css/main.css" rel="stylesheet" />
    <link href="~/Contents/css/stiller.css" rel="stylesheet" />
    <meta lang="tr-TR" />
</head>
<body>
    @Html.Partial("_PartialPageOgrenciHeader")    
        @RenderBody()
    @Html.Partial("_PartialPageFooter")


    <!------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <script src="~/Contents/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Contents/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/Contents/js/modernizr.custom.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Contents/js/plugins/rsslider/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/plugins/rsslider/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/plugins/rsslider/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/plugins/rsslider/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/plugins/rsslider/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Contents/js/plugins/rsslider/revolution.extension.slideanims.min.js"></script>
    <script src="~/Contents/js/plugins/countto/jquery.countTo.js" type="text/javascript"></script>
    <script src="~/Contents/js/plugins/owl/owl.carousel.js" type="text/javascript"></script>
    <script src="~/Contents/js/plugins/bootstrap-slider/bootstrap-slider.js" type="text/javascript"></script>
    <script src="~/Contents/js/plugins/fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="~/Contents/js/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/Contents/js/jquery.mixitup.js" type="text/javascript"></script>
    <script src="~/Contents/js/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="~/Contents/js/plugins/isotop/isotope.pkgd.js"></script>
    <script src="~/Contents/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Contents/js/plugins/ckeditor/adapters/jquery.js"></script>
    <script src="~/Contents/js/custom.js" type="text/javascript"></script>
    <!--Validators-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------>
</body>
</html>
