<div class="mj_footer mj_toppadder80 mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                <div class="mj_weight mj_bottompadder20">
                    <a href="index-2.html">
                        <img src="~/Contents/img//logo.png" class="img-responsive" alt="">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim ad minim veniam. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                </div>
                <div class="mj_weight mj_bottompadder20">
                    <span>Subscribe to our newsletter!</span>
                    <form class="form-inline mj_newsletter">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email Address">
                            <button class="mj_newsletterbtn">
                                <img src="~/Contents/img//icon-mail.png" alt="">
                            </button>
                        </div>
                    </form>
                </div>
                <div class="mj_weight mj_bottompadder20">
                    <div class="mj_sociallink">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mj_copyright">
                    <p>
                        &copy; <a href="#">2016 SmartProYazılım Ekibi Tarafından Hazırlanmıştır.</a>
                    </p>
                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                </div>
            </div>
            <div class="totop">
                <div class="gototop">
                    <a href="#">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>