
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageAna.cshtml";
}

<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container" lang="tr-TR">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                <div class="mj_mainheading mj_toppadder80 mj_bottompadder50">
                    <h1>h<span>esabınıza</span> <span>giriş</span> Y<span>apınız</span></h1>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="mj_pricingtable mj_greentable mj_login_form_wrapper">
                    <form>
                        <div class="mj_login_form">
                            <div class="form-group">
                                <input type="text" placeholder="Kullanıcı Adı veya Email" id="uname" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Şifre" id="upassword" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mj_toppadder20">
                                    <div class="form-group  pull-left">
                                        <div class="mj_checkbox">
                                            <input type="checkbox" value="1" id="check2" name="checkbox">
                                            <label for="check2"></label>
                                        </div>
                                        <span> beni hatırla</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mj_toppadder20">
                                    <div class="form-group pull-right">
                                        <span><a href="#">şifremi unuttum?</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mj_pricing_footer">
                            <a href="#">giriş yap</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

